.about {
  h1 {
    text-align: center;
    margin-top: 40px;
  }

  p {
    max-width: 900px;
    margin: 0 auto 30px;
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

.myValues {
    display: flex;
    flex-direction: row-reverse; /* <- l'image passe à droite */
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    background-color: #eaf4e9;
  }