.quizz {
    margin-bottom: 30px;
  
    .quizzTitle {
      color: #cbb000;
      font-size: 52px;
    }
  
    .quizzText {
      color: #2b3c2c;
      font-size: 20px;
    }
  
    .quizzBtn {
      background-color: #eaf4e9;
      color: #2b3c2c;
      border-radius: 25px;
      border: none;
      font-weight: bold;
    }
  }
  