.supportContainer {
    margin-bottom: 30px;
  
    .supportTitle {
      color: #2b3c2c;
      font-size: 52px;
    }
  
    .support {
      color: #2b3c2c;
      font-size: 20px;
      display: flex;
    }
  
    .learnMore {
      background-color: #eaf4e9;
      color: #2b3c2c;
      border-radius: 25px;
      border: none;
      font-weight: bold;
    }
  }
  