@use "../src/assets/style/variantes.scss" as variables;

:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: variables.$primary-color;
  background-color: variables.$background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: variables.$secondary-color; /* ou la couleur de ton choix */
  text-decoration: underline; /* ou la couleur de ton choix */
  font-weight: bolder;
}

a:visited {
  color: inherit; /* ou la couleur de ton choix */
  text-decoration: none; /* si tu veux retirer le soulignement aussi */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: variables.$title-font-family;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: variables.$primary-color;
    background-color: variables.$background-color;
  }
  a:hover {
    color: variables.$secondary-color; /* ou la couleur de ton choix */
  }
  button {
    background-color: #f9f9f9;
  }
}

input:focus {
  outline: 2px solid variables.$secondary-color;
  border-radius: 4px;
}

